body{
    background-color: #ddd;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 350px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    transition: 0.9s;
}
.card img{
    width: 180px;
    height: 250px;
    border-radius: 25px;
}
.buttons{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttons button{
    color: #fff;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}